:root {
  --primary-color: #50458F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Montserrat' ;
  src: url('../assets/fonts/Montserrat-Regular.woff2') format('woff2');
}

a {
  text-decoration: none;

}

ul {
  list-style: none;
}

li {
  margin: 10px;
}

button {
  all: unset;
}

body {
  font-family: 'Montserrat', sans-serif;
}


/* calendar settings */
.react-datepicker__input-container {
  display: flex;
}
